/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  background-image: url("../img/backgroundHeader.png");
  background-size: cover; /* Cubrir todo el contenedor con la imagen */
  background-position: center; /* Centrar la imagen en el contenedor */
  max-width: 100%; /* Ajusta el ancho máximo del contenedor al 100% */
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado img {
  max-width: 37.5%; /* Establece un ancho máximo del 100% del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}


